.post-content{
    width: 90%;
    box-sizing: border-box;
    padding: 15px;
    margin-top: 20px;
    border-radius: 6px;
    border: solid 1px rgba(0, 0, 0, 0.2);
}


.post-title{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    font-weight: bold;
}

.post-title:hover{
    cursor: pointer;
}

.date-created{
    
    opacity: 0.5;
}

.post-body{
    
    
}

.name-author{
    opacity: 0.5;
}

.top-post{
    box-sizing: border-box;
    padding: 15px;
    margin-top: 20px;
    border-radius: 6px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 500px;
    
}

